.body1{

    background-image: url(Lil_Zilon-Profile-picture.png);
    /*background-image: url(bilder/genomskinlig-logga.png);*/
    background-color: #001;
    background-repeat: no-repeat;
    position: sticky;
    


    
   
}
.indexsida{
background-image: url(sot-sunset.jpg);




}
.sec1{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, magenta, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

h2{
    font-family: Arial;
    color: magenta;

}
ol{
    color: Cyan;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;



}
.blau{
    color: black ;
    background-color: magenta;
    background-image: linear-gradient(to right, magenta,cyan);
    display: inline;

}

a
{
color: magenta
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  footer{
      font-size: 10px;
      color: white;
      grid-row: 10;
  }
  .indexsida li a {
    display: block;
    color: magenta;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
  /* Changes color when hovered */
  .indexsida li a:hover {
    background-color: rgb(51, 51, 51);
    color: cyan;
  }

.social a{
    font-family: 'Segoe UI', Helvetica;
    text-decoration: none;
    
}





        /* Data bildskärm*/
  @media only screen and (min-width: 1024px){
    .body1{
       display: grid;
        grid-template-columns: auto auto 600px ;
    }
    header{
        grid-column: span 3;
       
    }
    video{ 
    position: relative;
    left: 200px   ;
    }
aside{
    grid-column: 3;
}

  }

        /* Mobilskärm*/
  @media only screen and (max-width: 500px){
    video{
  position: center;
  }
  .navindex img{
 left: 50px;

}
  }